<footer> 
    <div class="container"> 

        <div class="col-xs-6 col-s-3 icon-footer">
            <img alt="icono" src="/img/icon-shipping.png" height="60px">
            <p><strong>Envíos gratis</strong> <br> Por 29€ de compra</p>
        </div>

        <div class="col-xs-6 col-s-3 icon-footer">
            <img alt="icono" src="/img/icon-refund.png" height="60px">
            <p><strong>Devoluciones gratis</strong> <br> Tienes 90 días</p>
        </div>


        <div class="col-xs-6 col-s-3 icon-footer">
            <img alt="icono" src="/img/icon-customer-service.png" height="60px">
            <p><strong>Atención al cliente</strong> <br> 7 días a la semana </p>
        </div>

        <div class="col-xs-6 col-s-3 icon-footer">
            <img alt="icono" src="/img/icon-secure.png" height="60px">
            <p><strong>Pago seguro</strong> <br>100% confianza</p>
        </div>

        <p> &copy; Mircastweb Developer</p>

    </div>

</footer>