<h1 class="title-products">Desctacado</h1>
<div class="row">
    <div class="col-xs-12">
        <form>
            <input class="search-input" type="search-input" name="search" placeholder="Busca el articulo o producto">
        </form>
        <select class="select-order">
            <option>Precio más bajo</option>
            <option>Precio más alto</option>
            <option>Por opiniones</option>
            <option>Por descuento</option>
        </select>
    </div>
</div>
<div class="row">

    <a href="https://amzn.to/2U73PWZ" target="blank" class="col-m-4 col-s-6 product-box">
        <img src="../img/producto1.jpg" alt="Casco Rojo" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Casco BAT Fox</h3>
        <strong class="price"><del>3.40€</del> 33.97€</strong>
    </a>

    <a href="https://amzn.to/2MmAxzo" target="blank" class="col-m-4 col-s-6 product-box">
        <img src="../img/producto2.jpg" alt="Casco Rojo Granate" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Casco Giro</h3>
        <strong class="price"> <del>83.40€</del> 49.84€</strong>
    </a>

    <a href="https://amzn.to/3gPEACj" target="blank" class="col-m-4 col-s-6 product-box">
        <img src="../img/producto3.jpg" alt="Casco Rockstar" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Casco Integral Rockstar</h3>
        <strong class="price"> <del>115.82€</del> desde 52.96</strong>
    </a>

    <a href="https://amzn.to/2ACgXfO" target="blank" class="col-m-4 col-s-6 product-box">
        <img src="../img/producto4.jpg" alt="Camisa manga corta colorida descenso" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Camisa MTB Fox</h3>
        <strong class="price"> <del>62.71€</del> 34.89€</strong>
    </a>

    <a href="https://amzn.to/3cvKbui" target="blank" class="col-m-4 col-s-6 product-box">
        <img src="../img/producto5.jpg" alt="Camisa manga corta descenso Ugly" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Camisa MTB Ugly</h3>
        <strong class="price"> <del>52.89€</del> desde 33.99€</strong>
    </a>

    <a href="https://amzn.to/2yZHe7r" target="blank" class="col-m-4 col-s-6 product-box">
        <img src="../img/producto6.jpg" alt="Camisa manga corta descenso con estilo" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Camisa MTB Enduro</h3>
        <strong class="price"> <del>62.40€</del> 33.99€</strong>
    </a>

    <a href="https://amzn.to/2XtD6WX" target="blank" class="col-m-4 col-s-6 product-box">
        <img src="../img/producto7.jpg" alt="Pantalon largo elastico" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Pantalon Largo MTB</h3>
        <strong class="price"> <del>49.71€</del> 28.89€</strong>
    </a>

    <a href="https://amzn.to/2AwG4AW" target="blank" class="col-m-4 col-s-6 product-box">
        <img src="../img/producto8.jpg" alt="Pantalon corto" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Pantalon Transpirable MTB</h3>
        <strong class="price"> <del>58.89€</del> 36.99€</strong>
    </a>

    <a href="https://amzn.to/36UBRD0" target="blank" class="col-m-4 col-s-6 product-box">
        <img src="../img/producto9.jpg" alt="Pantalon corto cintura alta" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Pantalon Casual MTB </h3>
        <strong class="price"> <del>52.40€</del> desde 21.99€</strong>
    </a>

    <a href="https://amzn.to/2Mnk8L6" target="blank" class="col-m-4 col-s-6 product-box">
        <img src="../img/producto10.jpg" alt="Zapatos MTB" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Zapatos Siderbike MTB </h3>
        <strong class="price"> <del>152.40€</del> desde 81.99€</strong>
    </a>

    <a href="https://amzn.to/3gMLtUV" target="blank" class="col-m-4 col-s-6 product-box">
        <img src="../img/producto11.jpg" alt="Zapatos MTB" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Zapatos Spiuk Quasar MTB </h3>
        <strong class="price"> <del>122.40€</del> 72.99€</strong>
    </a>

    <a href="https://amzn.to/3cvQOwH" target="blank" class="col-m-4 col-s-6 product-box">
        <img src="../img/producto12.jpg" alt="Zapatos MTB" width="100%">
        <div class="hidden offer">Oferta</div>
        <h3>Zapatos Sidebike Well MTB</h3>
        <strong class="price"> <del>95.40€</del>49.64€</strong>
    </a>
    
</div>

<ul class="pagination">
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">7</a></li>
</ul>